* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    color: rgb(56, 56, 56);
}

a {
    text-decoration: none;
    color: white;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

input, button {
    border: none;
    outline: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.logo {
    width: 150px;
    height: 65px;
}

.navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar li:not(:first-child){
    margin-left: 40px;
}

.navbar li a:hover {
    color: rgb(221, 221, 221);
}

.about-service {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 35px 0;
    text-align: center;
    font-size: 1.1rem;
}

.video-link {
    display: block;
}

.video-list {
    padding-top: 30px;
}

.video {
    display: flex;
    color: rgb(56, 56, 56);
    margin-bottom: 15px;
}

.video-preview {
    margin-right: 15px;
    height: 135px;
}

.video-preview img {
    width: 245px;
    height: 135px;
}

.video-info {
    width: 100%;
}

.video-main-info {
    display: flex;
    justify-content: space-between;
}

.video-title {
    font-size: 1.3rem;
    font-weight: 400;
}

.video-channel {
    padding-top: 5px;
}

.video-like, .video-like form {
    height: 35px;
    width: 35px;
}

.set-like {
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.video-description {
    padding-top: 8px;
}

header {
    background-color: rgb(36, 36, 36);
    width: 100%;
    position: fixed;
    z-index: 9999;
}

#fake-header-area {
    width: 100%;
    height: 75px;
}


/* Search box **********************************************/
.search-box {
    margin: 0 auto;
    padding-top: 130px;
    max-width: 800px;
}

.search-logo a {
    display: block;
    width: 230px;
    height: 120px;
    margin: 0 auto;
}

.search-logo svg {
    width: 230px;
    height: 120px;
}

.search-line {
    padding-top: 20px;
}

.search-line form {
    display: flex;
}

.search-text {
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(206, 206, 206);
    border-right: none;
    outline: none;
    color: rgb(56, 56, 56);
}

.search-text:hover {
    background-color: rgb(240, 240, 240);
}

.seacrh-submit {
    width: 80px !important;
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

.seacrh-submit:hover {
    background-color: rgb(197, 197, 197);
}

.l-search {
    padding: 6px 15px;
    font-size: 1.5rem;
}

.m-search {
    padding: 4px 10px;
    font-size: 1.2rem;
}

/* Status blocks **********************************************/
.block-status {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 1.1rem;
}

.block-status ul {
    list-style-type: disc;
    padding-left: 20px;
}

.block-status li {
    display: list-item;
}

.b-errors {
    color: rgb(233, 41, 41);
    background-color: rgb(255, 201, 201);
    border-color: rgb(252, 152, 152);
}

.b-success {
    border-color: rgb(122, 247, 117);
    background-color: rgb(186, 255, 184);
    color: rgb(69, 190, 65);
}


/* Utils **********************************************/
.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Icons **********************************************/
.search-icon {
    color: rgb(130, 130, 130);
    font-size: 30px !important;
    padding-top: 4px !important;
}

.like-icon {
    color: rgb(77, 77, 77);
    font-size: 35px !important;
}

.dislike-icon  {
    color: rgb(204, 0, 0);
    font-size: 35px !important;
}

.like-icon:hover {
    color: rgb(146, 146, 146);
}

.dislike-icon:hover {
    color: rgb(238, 23, 23);
}


/* Cards **********************************************/
.card {
    margin: 100px auto 0 auto;
    background-color: rgb(243, 243, 243);
    max-width: 450px;
    border: 3px solid rgb(228, 228, 228);
    border-radius: 10px;
}

.card-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 2rem;
    font-weight: 500;
}

.additionally {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.card-button {
    display: block;
    background-color: rgb(112, 187, 1);
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
}

.card-button:hover {
    background-color: rgb(104, 173, 0);
}

.card-link {
    text-decoration: underline;
    color: rgb(5, 105, 220);
}

.card-main label {
    display: block;
}

.card-form-container {
    padding: 0 10%;
}

.card-form-fields {
    padding-bottom: 10px;
}

.card-form-fields input {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 7px;
    padding: 5px 10px;
    outline: rgb(161, 161, 161) solid 1px;
}

.card-form-fields input:focus {
    outline: rgb(112, 187, 1) solid 2px;
}


/* Video details page **********************************************/
.youtube-video-player {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
}

.youtube-video-player iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.watch-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* 404 page **********************************************/
#notfound {
    position: relative;
    height: 80vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 190px;
}

.notfound .notfound-404 h1 {
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #232323;
}

.notfound .notfound-404 h1>span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url("emoji.png");
    background-size: cover;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: -1;
}

.notfound h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #232323;
}

.notfound p {
    color: #787878;
    font-weight: 300;
    margin: 1rem 0;
}

.notfound a {
    display: inline-block;
    padding: 12px 30px;
    font-weight: 700;
    background-color: #f99827;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    opacity: 0.8;
}


/* Media **********************************************/
@media (max-width: 660px) {
    .video-list {
        padding-top: 10px;
    }

    .video {
        display: block;
        margin-bottom: 40px;
    }

    .video-description {
        color: rgb(92, 92, 92);
    }

    .video-title {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .sl-results {
        padding-bottom: 10px;
    }

    .youtube-video-player {
        margin-top: 10px;
    }
}

@media (max-width: 500px) {
    .search-box {
        padding-top: 30px;
    }

    .logo, .logo img {
        height: 40px;
        width: 96px;
    }

    #fake-header-area {
        height: 50px;
    }

    .search-logo a, .search-logo svg {
        width: 184px;
        height: 96px;
    }

    .card {
        margin-top: 20px;
    }

    .video-preview {
        margin: 0 0 10px 0;
        height: 300px;
    }

    .video-preview img {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 660px) and (min-width: 500px) {
    .video-preview {
        margin: 0 0 10px 0;
        height: 380px;
    }

    .video-preview img {
        width: 100%;
        height: 380px;
    }
}

@media (max-width: 500px) and (min-width: 380px) {
    .video-preview {
        margin: 0 0 10px 0;
        height: 300px;
    }

    .video-preview img {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 380px) {
    .video-preview {
        margin: 0 0 10px 0;
        height: 240px;
    }

    .video-preview img {
        width: 100%;
        height: 240px;
    }
}