{% extends 'main/layouts/basic.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <br>
            <form method="post" action="">
                {% csrf_token %}
                <input type=text name="search_keyword" value="{{ search_keyword }}"></input>
                <button type="submit">Поиск</button>
            </form>

            <br><br>
            
            {% for video in found_videos %}
                <a class="video-link" href="{% url 'main:watch' %}?v={{ video.video_id }}">
                    <div class="video">
                        <div class="video-preview">
                            <img src="{{ video.preview_url }}" alt="Video preview">
                        </div>
                        <div class="video-info">
                            <div class="video-main-info">
                                <div class="video-meta">
                                    <div class="video-title">
                                        {{ video.title }}
                                    </div>
                                    <div class="video-channel">
                                        {{ video.channel_title }}
                                    </div>
                                </div>
                                <div class="video-like">
                                    <form class="set-like-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="video_id" value="{{ video.video_id }}">
                                        <input type="submit" class="set-like" value="+"></input>
                                    </form>
                                </div>
                            </div>
                            <div class="video-description">
                                {{ video.description }}
                            </div>
                        </div>
                    </div> 
                </a>
            {% endfor %}
        </div>
    </main>
{% endblock %}