{% extends 'main/layouts/base.html' %}

{% block title %}Понравившиеся видео{% endblock %}

{% block content %}
    <div class="container">
        <div class="block-status b-success visually-hidden">
            <span>Успешно выполнено:</span>
            <ul></ul>
        </div>

        <div class="video-list">
        {% for video in liked_videos %}
            <a class="video-link" href="{% url 'main:watch' %}?v={{ video.video_id }}">
                <div class="video">
                    <div class="video-preview">
                        <img src="{{ video.preview_url }}" alt="Video preview">
                    </div>
                    <div class="video-info">
                        <div class="video-main-info">
                            <div class="video-meta">
                                <div class="video-title">{{ video.title }}</div>
                                <div class="video-channel">{{ video.channel_title }}</div>
                            </div>
                            <div class="video-like">
                                <form class="like-form" onsubmit="d_SubmitHandler(event);">
                                    {% csrf_token %}
                                    <input type="hidden" name="video_id" value="{{ video.video_id }}">
                                    <button type="submit" class="like-button">
                                        <i class="material-icons dislike-icon">favorite</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="video-description">{{ video.short_description }}</div>
                    </div>
                </div> 
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}