{% extends 'main/layouts/base.html' %}

{% block title %}Просмотр видео{% endblock %}

{% block content %}
    <div class="container">
        {% if error %}
            <div class="block-status b-errors">
                <span>Ошибки:</span>
                <ul>
                    <li>{{ error }}</li>
                </ul>
            </div>
        {% endif %}
        {% if video %}
            <div class="youtube-video-player">
                <iframe width="1200" height="620" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="watch-info">
                <div class="w-main">
                    <div class="w-main-info">
                        <div class="w-title">{{ video.title }}</div>
                        <div class="w-channel-publ">
                            <a href="https://www.youtube.com/user/{{ video.channel_id }}" class="w-channel">{{ video.channel_title }}</a>
                            <div class="w-published">({{ video.published_at }})</div>
                        </div>
                    </div>
                    
                    <div class="video-like">
                        <form class="set-like-form" onsubmit="resultsSubmitHandler(event);">
                            {% csrf_token %}
                            <input type="hidden" name="video_id" value="{{ video.video_id }}">
                            <button type="submit" class="set-like">
                                {% if video.liked_by_user %}
                                    <i class="material-icons dislike-icon">favorite</i>
                                {% else %}
                                    <i class="material-icons like-icon">favorite_border</i>
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>

                <div class="w-additional">
                    <div>
                        <i class="material-icons access-time-icon">access_time</i>
                        <span>{{ video.duration }}</span>
                    </div>
                    {% if video.view_count %}
                        <div>
                            <i class="material-icons view-count-icon">visibility</i>
                            <span>{{ video.view_count }}</span>
                        </div>
                    {% endif %}
                    {% if video.like_count %}
                        <div>
                            <i class="material-icons thumb-up-icon">thumb_up</i>
                            <span>{{ video.like_count }}</span>
                        </div>
                    {% endif %}
                    {% if video.dislike_count %}
                        <div>
                            <i class="material-icons thumb-down-icon">thumb_down</i>
                            <span>{{ video.dislike_count }}</span>
                        </div>
                    {% endif %}
                    {% if video.comment_count %}
                        <div>
                            <i class="material-icons comment-icon">comment</i>
                            <span>{{ video.comment_count }}</span>
                        </div>
                    {% endif %}
                </div>

                <div class="w-description">{{ video.description }}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}